!*.xcodeproj/project.pbxproj
!*.xcodeproj/project.xcworkspace/
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
!/gradle/wrapper/gradle-wrapper.jar
**/xcshareddata/WorkspaceSettings.xcsettings
*.aab
*.apk
*.ap_
*.class
*.ctxt
*.dex
*.ear
*.icloud
*.iml
*.ipr
*.iws
*.jar
*.jks
*.keystore
*.log
*.nar
*.rar
*.swp
*.tar.gz
*.war
*.xccheckout
*.xcodeproj/*
*.xcscmblueprint
*.zip
*~
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.classpath
.com.apple.timemachine.donotpresent
.cproject
.DocumentRevisions-V100
.DS_Store
.externalNativeBuild
.fseventsd
.gradle
.gradle/
.idea/$CACHE_FILE$
.idea/**/aws.xml
.idea/**/azureSettings.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/markdown-navigator-enh.xml
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator/
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sonarIssues.xml
.idea/**/sonarlint/
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/.name
.idea/assetWizardSettings.xml
.idea/caches/
.idea/caches/build_file_checksums.ser
.idea/codestream.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/dataSources.ids
.idea/datasources.xml
.idea/dictionaries
.idea/dynamic.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/httpRequests
.idea/jarRepositories.xml
.idea/jsLibraryMappings.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/mongoSettings.xml
.idea/navEditor.xml
.idea/replstate.xml
.idea/scopes/scope_settings.xml
.idea/shelf/
.idea/sonarlint/
.idea/sqlDataSources.xml
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea_modules/
.kotlin/
.LSOverride
.mtj.tmp/
.navigation/
.project
.settings/
.signing/
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
/*.gcno
/*/*/build
/*/*/production
/*/build/
/*/local.properties
/*/out
/out/
atlassian-ide-plugin.xml
bin/
build/
captures/
cmake-build-*/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
fabric.properties
gen-external-apklibs
gen/
hs_err_pid*
Icon
local.properties
Network Trash Folder
obj/
out/
proguard/
replay_pid*
Temporary Items
xcuserdata/